.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.nav-container {
  grid-column: col-start 1 / -1;
  grid-row: 1;
  margin: -8px -8px 40px -8px;
  padding: 13px 24px;
  background: linear-gradient(
    39deg,
    rgba(41, 34, 184, 1) 0%,
    rgba(171, 102, 208, 1) 54%,
    rgba(239, 160, 22, 1) 100%
  );
  border: 1px solid #e8ff79;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 8;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.create-container {
  grid-column: col-start 5 / span 4;
  grid-row: 2 / span 5;
  border: 2px solid transparent;
  /* background-color: #f7b21c; */
  background: linear-gradient(
    333deg,
    rgba(253, 252, 251, 1) 0%,
    rgba(226, 209, 195, 1) 98%
  );
  border: 1px solid #f1a817;
  border-radius: 45px;
  display: flex;
  font-size: 20px;
  color: #f1a817;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 40px;
  width: 700px;
  height: 330px;
}

.new-list-container {
  grid-column: col-start 1 / span 4;
  grid-row: 2 / span 8;
  height: 500px;
  border: 2px solid transparent;
  margin-top: 12px;
  margin-left: 50px;
  background: linear-gradient(100deg, darkorchid, orange) border-box;
  border: 2px solid #e8ff79;
  border-radius: 40px;
  padding: 20px 50px;
  text-align: center;
}

.preview-list-container {
  grid-column: col-start 6 / span 4;
  grid-row: 2 / span 8;
  width: 100%;
  height: 500px;
  padding: 0px 80px;
  margin-top: 10px;
  display: flex;
}

.home-container {
  grid-column: col-start 2 / span 10;
  grid-row: 3 / span 6;
  padding: 0px 30px;
}

.new-tab-container {
  grid-column: col-start 5 / span 4;
  grid-row: 3 / span 3;
  padding: 50px 80px;
  border-radius: 220px;
  width: 250px;
  border: 2px solid transparent;
  background: linear-gradient(
    28deg,
    rgba(43, 211, 158, 1) 21%,
    rgba(255, 231, 87, 1) 100%
  );
  border: 2px solid #e8ff79;
  margin: auto;
}

.all-lists-container {
  grid-column: col-start 2 / span 10;
  grid-row: 3 / span 8;
  padding: 10px;
}

.add-some-goals-container {
  grid-column: col-start 5 / span 4;
  margin-left: 60px;
  grid-row: 2 / span 10;
  width: 120%;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: #fba700;
  overflow-y: auto;
  overflow-x: visible;
}

.create-list-goals-button {
  grid-column: col-start 11 / span 1;
  grid-row: 5 / span 1;
}

th {
  font-size: 14px;
  text-decoration: underline;
}

.edit-container {
  grid-column: col-start 5 / span 4;
  grid-row: 2 / span 5;
  border: 2px solid transparent;
  background: rgb(120, 99, 226) 98%;
  /* background: linear-gradient(333deg, rgba(107,208,255,1) 0%, rgba(144,238,189,1) 76%); */
  border-radius: 45px;
  display: flex;
  font-size: 20px;
  color: orange;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 40px;
  width: 900px;
  height: 400px;
}

.tab-header {
  grid-column: col-start 2;
  grid-row: 4;
}

.all-lists-container {
  grid-column: col-start 2 / span 10;
  grid-row: 3 / span 7;
  margin-left: -30px;
}

.statusLight {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #d6d4db #cdccd1 #cdccd1 #d6d4db;
  margin: 5px;
}

.blank-prompt-container {
  grid-column: col-start 2 / span 10;
  grid-row: 3 / span 7;
}

.new-goal-container {
  grid-column: col-start 5 / span 4;
  grid-row: 2 / span 4;
  border: 2px solid transparent;
  background: linear-gradient(150deg, darkorchid, orange) border-box;
  border: 1px solid #f1a817;
  border-radius: 45px;
  display: flex;
  font-size: 20px;
  color: #e8ff79;
  flex-direction: column;
  text-align: center;
  padding: 30px 0px;
  width: 500px;
  height: 450px;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensures that child elements take full width */
    width: 100%;
  }

  .new-list-container {
    margin: 0;
  }

  .add-some-goals-container {
    width: 100%;
    height: 100%;
    margin: auto;
    max-height: 50rem;
  }

  .nav-container {
    display: flex;
    /* flex-direction: column; */
  }
}
