:root {
  font-family: "Futura", Calibri;
  letter-spacing: 1px;
  background-color: #fffbf7;
}

a {
  text-decoration: none;
}

/* index.css */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    39deg,
    rgba(41, 34, 184, 1) 0%,
    rgba(171, 102, 208, 1) 54%,
    rgba(239, 160, 22, 1) 100%
  );
  margin: -0.5rem;
}

.login-container h2 {
  margin: 10rem;
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
