.overview-container {
  margin-top: 1.5rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  padding: 1rem;
}

.overview-header {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.65rem;
}

.goals-overview {
  display: flex;
  flex-direction: column;
}

.tab-overview-box {
  border-radius: 30px;
  flex: 1 1 10rem;
  min-width: 10rem;
  background-color: #fbeffe;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.goal-list-header {
  font-weight: bold;
  flex: 1;
}

.goal-statuses {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.goal-statuses span {
  font-size: 1.2rem;
}

.goal-group {
  padding: 0.65rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.plan-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.day-plan {
  width: 50%;
}

.plan-row {
  border: 1px solid #3a2dd2;
  margin: 10px 0px;
  width: 80%;
  display: flex;
  border-radius: 20px;
}

.time-slot {
  border-right: 1px solid #3a2dd2;
  height: 100%;
  width: 50px;
  padding: 15px;
  background-color: #3a2dd2;
  color: #e8ff79;
  border-radius: 20px 0px 0px 20px;
}
