SimpleGoal.css .simpleGoal-yellow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: yellow;
}

.simple-red {
  background-color: #f13647;
  border-color: #fd5665 #e82839 #e82839 #fd5665;
}

.simple-purple {
  color: white;
  background-color: #5b33bf;
  border-color: #673cd4 #5530af #5530af #673cd4;
}

.simple-orange {
  color: white;
  background-color: #ff6c02;
  border-color: #ff7f38 #e86100 #e86100 #ff7f38;
}

.simple-container {
  width: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-container {
  width: 24rem;
}

.simpleBlock {
  display: flex;
  width: 75%;
  flex-direction: row;
  cursor: pointer;
  margin: 7px 10px 7px 0px;
  align-items: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
  padding: 4px;
  justify-content: space-between;
}

.simpleGoalText {
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  flex-grow: 1;
  height: 100%;
}

.isOff {
  background-color: #dbd9df;
}

.isDone {
  background-color: #b8ff8c;
}

.statusLight-simple {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #d6d4db #cdccd1 #cdccd1 #d6d4db;
  margin: 5px -7px 5px 15px;
}

.more-options {
  margin-left: 10px;
}

.options {
  height: 22px;
  margin-left: 3px;
}

.hidden {
  display: none;
}
